:root {
  --primary-color: #060b14;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: Poppins;
}

body {
  background-color: var(--primary-color);
}

.container {
  max-width: 640px;
  margin: 3rem auto;
  background: #ddd;
  padding: 2rem;
  box-shadow: 0 0 8px #ffffff28;
}

.container h1 {
  font-size: 3rem;
  margin: 1rem 0;
}

.container div {
  display: flex;
  gap: 1rem;
}

.container input {
  margin: 1rem 0 2rem;
  padding: 1rem;
  width: 100%;
  border: none;
  font-size: 1rem;
}

.btn-add {
  margin: 1rem 0 2rem;
  padding: 1rem;
  width: 100%;
  border: none;
}

.btn-add {
  background-color: #ccc;
  cursor: pointer;
}

.container button:hover {
  background-color: #aaa;
  color: #fff;
}

.tasks-list {
  list-style-position: inside;
  list-style: none;
}

.tasks-list li {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
  font-size: 1.1rem;
}

.btn-remove {
  padding: 0 1rem;
  cursor: pointer;
  border: none;
  background-color: red;
  color: #fff;
  font-weight: bolder;
}
